body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.controls {}

#grid {
    display: grid;
    grid-template-columns: repeat(100, auto);
    border: solid 0.1rem lightgray;
    background-color: lightgray;
    justify-content: stretch;
    justify-items: center;
    align-items: center;
    align-content: stretch;
    width: 500px;
    height: 500px;
    margin-top: 1rem;
}

.cell {
    width: 100%;
    height: 100%;
    background-color: white;
    transition: background-color 0.1s ease;
}